{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>

    <a href="{{ path('app_category_new') }}" class="btn btn-success btn-new">Ajouter</a>

    <table class="table mt-4 table-bordered table-hover">
        <thead>
            <tr class="bg-primary">
                <th>Id</th>
                <th>Nom</th>
                <th>Photo</th>
                <th>Crée le</th>
                <th>Dernière modification</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td><img src="{{ category.picture }}" alt=""></td>
                <td>{{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ category.updatedAt ? category.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_category_show', {'id': category.id}) }}" class="btn btn-info">Voir</a>
                    <a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn btn-warning">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune catégorie</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
